.elements-js {
  width: 99999px;
  height: 214px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
.carousel-elem-js {
  /*float: left;*/
  width: 400px;
  height: 210px;
  background-color: #46E7FF;
  /*border: 2px solid #778899;*/
  z-index: 1;
  position: absolute;
  top: 0;
}
.carousel-elem-js.carousel-preview-elem-js {
  z-index: 1;
  top: 0;
  left: 0 !important;
}
.carousel-elem-js.carousel-preview-elem-js.active {
  z-index: 2;
}

.carousel-elem-js .preview-elem-js {
  width: 100%;
  height: auto;
}
.carousel-elem-js p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.carousel-container-js {
  position: relative;
  width: 500px;
  padding-left: 80px;
}
.container-elements-js {
  width: 404px;
  overflow-x: hidden;
  position: relative;
  z-index: 4;
}
.arrows-js {}
.arrows-js > div { display: block; }
.arrows-js > div.lastSlide { display: none; }


.arrow-left-js,
.arrow-right-js {
  position: absolute;
  top: 68px;
  right: 80px;
  z-index: 2;
  width: 50px;
  height: 54px;
  background-color: red;
  cursor: pointer;
}
.arrow-right-js:after {
  display: block;
  content: '';
  height: 0px;
  border-style: solid;
  border-width: 33px 0 33px 33px;
  border-color: transparent transparent transparent red;
  position: absolute;
  top: -6px;
  right: auto;
  left: 47px;
  z-index: 2;
}
.arrow-right-js span {
  position: absolute;
  top: 5px;
  right: auto;
  left: 0;
  z-index: 3;
  display: block;
  content: '';
  width: 50px;
  height: 44px;
  background-color: #005BA9;
}
.arrow-right-js span:before {
  display: block;
  content: '';
  height: 0px;
  border-style: solid;
  border-width: 22px 0 22px 23px;
  border-color: transparent transparent transparent #005BA9;
  position: absolute;
  top: 0;
  right: auto;
  left: 50px;
  z-index: 3;
}
.arrow-left-js {
  top: 68px;
  left: 60px;
}
.arrow-left-js:after {
  display: block;
  content: '';
  height: 0px;
  border-style: solid;
  border-width: 33px 33px 33px 0;
  border-color: transparent red transparent transparent;
  position: absolute;
  top: -6px;
  left: -30px;
  z-index: 2;
}
.arrow-left-js span {
  position: absolute;
  top: 5px;
  right: auto;
  left: 0;
  z-index: 3;
  display: block;
  content: '';
  width: 50px;
  height: 44px;
  background-color: #005BA9;
}
.arrow-left-js span:before {
  display: block;
  content: '';
  height: 0px;
  border-style: solid;
  border-width: 22px 23px 22px 0;
  border-color: transparent #005BA9 transparent transparent;
  position: absolute;
  top: 0;
  right: auto;
  left: -22px;
  z-index: 3;
}

.arrow-right-js:hover {
  -webkit-transition: right 0.5s ease 0s;
  -moz-transition: right 0.5s ease 0s;
  -o-transition: right 0.5s ease 0s;
  transition: right 0.5s ease 0s;
  right: 60px;
}
.arrow-left-js:hover {
  -webkit-transition: left 1s ease 0s;
  -moz-transition: left 1s ease 0s;
  -o-transition: left 1s ease 0s;
  transition: left 1s ease 0s;
  left: 40px;
}
.arrow-right-js:not(:hover),
.arrow-left-js:not(:hover){
  transition: 1s;
}

.arrow-left-js.arrow-preview-js,
.arrow-right-js.arrow-preview-js {
  top: 235px;
}

.one-babble-js {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #f08080;
  border-radius: 8px;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}
.one-babble-js:last-child { margin-right: 0; }
.one-babble-js.active {
  background-color: #f063d8;
}

.one-babble-js.one-preview-babble-js {
  width: 70px;
  height: 70px;
  border-radius: 0;
  opacity: 0.7;
}
.one-babble-js.one-preview-babble-js.active,
.one-babble-js.one-preview-babble-js:hover {
  opacity: 1;
}
.one-babble-js img {
  display: block;
  width: 100%;
  height: 100%;
}

.babbles-container-js {
  width: 150px;
  overflow: hidden;
  margin: auto;
}
.babbles-container-js .babbles-js {
  width: 9999px;
}
.moving-image-js {
  position: absolute;
  top: -214px;
  right: auto;
  height: 214px;
  overflow: hidden;
  z-index: 2;
}


/*Styled css*/
.moving-arrow-css {
  margin-bottom: 20px;
}

/*Autoplay*/
.autoblay-btn-js {
  display: block;
  width: 15px;
  height: 15px;
  background: #ff4500;
}


/*Анимация движения букв*/
.carousel-elem-annotation-js {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
}
.move-from-top-js {
  margin: 0;
  text-align: center;
  width: 100%;
}
.move-from-bottom-js {
  margin: 0;
  font-family: 'Dancing Script', 'Comic Sans MS', cursive;
  font-weight: 700;
  text-align: center;
}



